body {
    background-color: #b6cdeb48;
    font-size: 1em;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.content-footer,
.masthead-heading {
    padding-bottom: 3rem;
text-align: center; color: rgb(255, 255, 255);
}
.masthead {
    padding: 12em 0;
    background-image: url("https://t4.ftcdn.net/jpg/02/98/51/21/240_F_298512167_uxfZe31ytJ3nei6aZOdDDQiH2nLq2LFm.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: 1rem;
}
​
​
.form-group2{
    padding-top: 3rem;
    padding-left: 1rem;
}
.col-sm-2{
    padding-right: 4rem;
}
​
.flex-row {
    padding: 20px;
}

#search-input {
    padding: 10px;
}
#form-input {
    
    
    padding: 10px;
}
​
.btn-info {
    color:rgba(113, 142, 155, 0.61);
    background-color:rgba(68, 94, 104, 0.753);
    
    font-size: 20px;
}
.btn-danger {
    color: rgb(100, 107, 98);
    background-color:rgb(93, 95, 95);
    color: black;
    font-size: 20px;  
}
​
.row2{
    padding-right: 10rem;
    
}
form {
    padding-top: 2rem;
    padding-right: 5rem;
}
​
.search-bar {
    border-radius: 3rem;
    padding-top: 3rem;
    padding-left: 1rem;
}
​
.col-12 {
    border-radius: 2rem;
    background-color: rgba(10, 50, 77, 0.411);
}
li{list-style-type: none;}
​
li{list-style-type: none;}